# Disable execution of scripts in uploads directory
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<FilesMatch "(?i)\.(php|phtml|php3|php4|php5|php6|phps|cgi|pl|py|sh)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
